.Team{
    text-align: center;
    /* margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 20px; */
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
}

.TeamMembers{
    display: flex;
    justify-content: center;
    flex-wrap:wrap ;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

.TeamDetails{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 1024px){
    /* .TeamMembers{
        flex-direction:column;
    } */

    /* .TeamDetails{
        margin-left: 10px;
        margin-right: 10px;
    } */
}