.Problem{
    margin-bottom: 10%;
    margin-top: 50px;
    margin-left: 5%;
    background-color: black;
    color:white ;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Solution{
    background-color: #f7c114 !important;
    color: black !important;
    margin-bottom: 10%;
    margin-top: 50px;
    background-color: black;
    color:white ;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Arranger{
    display: grid;
    grid-template-columns: 5fr 5fr;
}

@media only screen and (max-width: 1024px) {
    .Problem{
        margin-right: 5%;
        margin-bottom: 0px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }

    .Arranger{
        display: flex;
        flex-direction: column;
    }

    .Solution{
        margin-top: 0%;
        margin-left: 5%;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 20px;
    }
}

